<a href="https://colab.research.google.com/github/aditiR2508/Study-of-Sets-and-Dictionaries-in-Python/blob/main/Expt5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Experiment 5
## Study of Sets and Dictionaries in Python
## Aditi Rathore
## 25070123006
## A1

In [ ]:
#set is a collection which is unordered-->no fixed order, hence no indicing possible
#sets are used to store multiple items in a single variable
#set is a sub-type of dictionary
#output sequence is random


#creation of a set
guitar = {"bass", "acoustic", "electric"}
print(guitar)

{'bass', 'electric', 'acoustic'}

In [ ]:
#sets do not allow duplicate items; are unordered and unchangeable
guitar = {"bass", "acoustic", "electric", "bass"}
print(guitar)

{'bass', 'electric', 'acoustic'}

In [ ]:
# True and 1 are considered same value in sets; 0 and False are considered same
guitar = {"bass", "acoustic", "electric", True, 1, False, 0}
print(guitar)

{False, 'bass', True, 'electric', 'acoustic'}

In [ ]:
#set supports all types of data types like in lists
forests={"rain", "evergreen", 0.785, 1, True, False, 58}
forests       #prints set

{0.785, 1, 58, False, 'evergreen', 'rain'}

In [ ]:
#searching for item in set
forests={"rain", "evergreen", 0.785, 1, True, False, 58}
print("rain" in forests)
print("pine" in forests)

True
False

In [ ]:
#once you create a set, you cannot replace any of its items, however adding items to the set is possible
forests={"rain", "evergreen", 0.785, 1, True, False, 58}
forests.add("pine")
print(forests)

{0.785, 'evergreen', 1, False, 'pine', 58, 'rain'}

In [ ]:
#removing items
forests={"rain", "evergreen", 0.785, 1, True, False, 58}
forests.remove("rain")
forests

{0.785, 1, 58, False, 'evergreen'}

In [ ]:
#Set Operations
AC={1, 23, 45, 67}
DC={0, 1, 2, 3, 4, 5, 6, 7}

print("Union:", AC | DC)
print("Intersection: ", AC & DC)
print("Difference: ", AC-DC)
print("Symmetric Difference: ", AC ^ DC)

Union: {0, 1, 2, 67, 3, 4, 5, 6, 7, 45, 23}
Intersection:  {1}
Difference:  {67, 45, 23}
Symmetric Difference:  {0, 2, 3, 4, 5, 6, 7, 67, 45, 23}

In [ ]:
#Frozen set
forests= frozenset({"rain", "evergreen", 0.785, 1, True, False, 58})
print(forests)
print(type(forests))

frozenset({0.785, 'evergreen', 1, False, 58, 'rain'})
<class 'frozenset'>

In [ ]:
#Addition or Removal of elements in Frozensets--->NOT possible
forests= frozenset({"rain", "evergreen", 0.785, 1, True, False, 58})
forests.add("pine")
forests.remove("rain")
print(forests)

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
# Problem Statement 1: Unique Event Participants
Event_Participants=["Aman", "Rakesh", "Kabir", "Sreejita", "Palak", "Nishtha", "Vini", "Kabir", "Rajlakshmi", "Madhav", "Madhav", "Vini"]
Participants = set(Event_Participants)
print("Event Participants: ", Participants)

Event Participants:  {'Aman', 'Nishtha', 'Madhav', 'Vini', 'Sreejita', 'Rakesh', 'Palak', 'Rajlakshmi', 'Kabir'}

In [ ]:
# Problem Statement 2: Three Students choose elective subjects
A = {"Cyber security", "finance"}
B = {"finance", "Economics", "AIML"}
C = {"finance", "Aiml"}
print("common subjects: ", A & B & C)

common subjects:  {'finance'}

In [ ]:
# Problem Statement 3: One set of students in cricket club, the other set in football club
Crick = {"Aman", "Vini", "Kabir", "Madhav", "Aadhya"}
Footb = {"Nishtha", "Sreejita", "Rakesh", "Madhav", "Aman"}

print("In Both Clubs: ", Crick & Footb)
print("In only one Club: ", Crick ^ Footb)

In Both Clubs:  {'Aman', 'Madhav'}
In only one Club:  {'Vini', 'Sreejita', 'Rakesh', 'Nishtha', 'Aadhya', 'Kabir'}

In [ ]:
# Problem Statement 4: Absent Students
Total ={"Nishtha", "Vini", "Madhav", "Rajlakshmi", "Daksha", "Agrima"}
Present ={"Nishtha", "Vini", "Madhav"}
print("Absent: ", Total - Present)

Absent:  {'Daksha', 'Rajlakshmi', 'Agrima'}

In [ ]:
# Problem Statement 5: Removing Invalid Entries
Course_codes={"ETC1902", "ETC006", "ETC310", "ETC076", "ETC123"}
Course_codes.remove("ETC310")
print("Updated Courses: ", Course_codes)

Updated Courses:  {'ETC006', 'ETC1902', 'ETC076', 'ETC123'}

# Dictionaries in Python

In [ ]:
# A Dictionary is a collection which is changeable(we can make changes to it), ordered and does not allow duplicates.

# Creating a Dictionary
car = {"Brand": "Volkswagen", "Model": "Jetta", "Year": 2017}
print(car)

{'Brand': 'Volkswagen', 'Model': 'Jetta', 'Year': 2017}

In [ ]:
#Dictionary does not allow duplicate values and will take the latest value provided to it
car = {"Brand": "Volkswagen", "Model": "Jetta", "Model": "Tiguan", "Year": 2017}
print(car)

{'Brand': 'Volkswagen', 'Model': 'Tiguan', 'Year': 2017}

In [ ]:
#length of a dictionary
car = {"Brand": "Volkswagen", "Model": "Jetta", "Year": 2017}
print(len(car))

3

In [ ]:
#Changing or Adding key-value to a dictionary
car = {"Brand": "Volkswagen", "Model": "Jetta", "Year": 2017}
car["Model"] = "Tiguan"
print(car)
car["Colour"] = "Midnight Blue"
print(car)
x = car.values()
print(x)

{'Brand': 'Volkswagen', 'Model': 'Tiguan', 'Year': 2017}
{'Brand': 'Volkswagen', 'Model': 'Tiguan', 'Year': 2017, 'Colour': 'Midnight Blue'}
dict_values(['Volkswagen', 'Tiguan', 2017, 'Midnight Blue'])

In [ ]:
#Retrieving Values
student_data = {"PRN": "25578090789", "Name": "Amar Anthony", "Branch": "EnTC", "Division": "A", "Home City": "Bhatinda"}
print("Name:", student_data["Name"])

Name: Amar Anthony

In [ ]:
#Adding & Updating Elements
student_data["Year"] = "Third"
student_data["Name"] = "Ajay Anthony"
print(student_data)

{'PRN': '25578090789', 'Name': 'Ajay Anthony', 'Branch': 'EnTC', 'Division': 'A', 'Home City': 'Bhatinda', 'Year': 'Third'}

In [ ]:
#Removing Elements---->using pop() function
student_data = {"PRN": "25578090789", "Name": "Amar Anthony", "Branch": "EnTC", "Division": "A", "Home City": "Bhatinda"}

print("Before Removal: ", student_data)

student_data.pop("Home City")
print("After Removal: ", student_data)

Before Removal:  {'PRN': '25578090789', 'Name': 'Amar Anthony', 'Branch': 'EnTC', 'Division': 'A', 'Home City': 'Bhatinda'}
After Removal:  {'PRN': '25578090789', 'Name': 'Amar Anthony', 'Branch': 'EnTC', 'Division': 'A'}

In [ ]:
#Problem Statement 1: A given Dictionary stores product names and their prices, python program to update the price of a given product.
grocery = {"Pulses": 70, "Rice": 50, "Flour": 45, "Vegetables": 125}

print("Original Products & Prices: ", grocery)  #original price

grocery["Vegetables"] = 175
print("Updated Products & Prices: ", grocery)   #updated price

Original Products & Prices:  {'Pulses': 70, 'Rice': 50, 'Flour': 45, 'Vegetables': 125}
Updated Products & Prices:  {'Pulses': 70, 'Rice': 50, 'Flour': 45, 'Vegetables': 175}

In [ ]:
#Problem Statement 2: A dictionary contains student names and marks:
### find a student's marks using the name entered.
### if the student is not found, display a suitable message.

marks = {"Amar": 45, "Ajit": 47, "Rahul": 50, "Ajay": 38, "Karan": 42}

x = input("Enter a Student's Name: ")

print(marks.get(x, "The student name entered does not exist.")) ##using get() function to fetch the marks of the student whose name is entered

Enter a Student's Name: Ajit
47

In [ ]:
#Problem Statement 3: A dictionary stores usernames and passwords, write a python program to validate user login.
user_credentials = {"amar@13": "1278", "kabir#24": "4534", "$veer$": "1729"}
user_name = input("Enter Username: ")
password = input("Enter Password: ")
if user_credentials.get(user_name) == password:
  print("User Login was Successful!")
else:
  print("Login Failed!!!")

Enter Username: amar@13
Enter Password: 1278
User Login was Successful!

In [ ]:
#Problem Statement 4: A Dictionary stores student names and marks, to find the student who scored the highest marks.
student_details = {"Ajit": 34, "Amar": 46, "Matthew": 42, "Karan": 49}
max_marks = max(student_details, key=student_details.get)
print("Student having highest marks: ", max_marks)
print("Marks: ", student_details[max_marks])

Student having highest marks:  Karan
Marks:  49